## Observations and Insights

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_study = pd.merge(mouse_metadata, study_results, on = 'Mouse ID')

# Display the data table for preview
mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [41]:
# Checking the number of mice.
n_mice_df = len(mouse_study['Mouse ID'].unique())
n_mice_df

249

In [42]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mouse_boolean = mouse_study.duplicated(['Mouse ID','Timepoint'])
duplicate_mouse = mouse_study[duplicate_mouse_boolean]['Mouse ID']
duplicate_mouse

909    g989
911    g989
913    g989
915    g989
917    g989
Name: Mouse ID, dtype: object

In [43]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mouse = mouse_study[duplicate_mouse_boolean]
duplicate_mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [44]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mouse_study_boolean = mouse_study['Mouse ID'] != 'g989'
clean_mouse_study =  mouse_study[clean_mouse_study_boolean]
clean_mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [45]:
# Checking the number of mice in the clean DataFrame.
clean_n_mouse = len(clean_mouse_study['Mouse ID'].unique())
clean_n_mouse

248

## Summary Statistics

In [90]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

tumor_stats_group = clean_mouse_study.groupby('Mouse ID')
tumor_stats = tumor_stats_group[['Mouse ID','Tumor Volume (mm3)']]
tumor_stats_summary = tumor_stats.mean().rename(columns = {'Tumor Volume (mm3)':'mean'})
tumor_stats_summary['median'] = tumor_stats.median()
tumor_stats_summary['variance'] = tumor_stats.var()
tumor_stats_summary['standard deviation'] = tumor_stats.std()
tumor_stats_summary['SEM'] = tumor_stats.sem()

tumor_stats_df = pd.DataFrame([{'mean' : tumor_stats_mean, 
                               'median' : tumor_stats_median, 
                               'variance' : tumor_stats_var,
                               'standard deviation' : tumor_stats_std,
                               'SEM' : tumor_stats_sem}])
tumor_stats_summary

               mean     median   variance  standard deviation       SEM
Mouse ID
a203      56.312708  55.983272  50.407041            7.099792  2.245151
a251      55.237095  55.938620  51.740730            7.193103  2.274659
a262      58.611631  58.572588  84.759928            9.206515  2.911356
a275      52.770965  52.044750  36.322924            6.026850  1.905857
a366      54.639906  55.265582  38.415384            6.198015  2.342629
...             ...        ...        ...                 ...       ...
z435      46.942214  47.115980   3.464898            1.861424  1.074693
z578      38.411510  38.160380  17.969628            4.239060  1.340508
z581      53.979584  53.062175  29.827123            5.461421  1.727053
z795      54.880317  55.613879  53.416711            7.308674  2.311206
z969      60.194652  60.522215  94.626337            9.727607  3.076139

[248 rows x 5 columns]

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen